<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<setting name="logPrefix" value="dao." />
	</settings>
	<typeAliases>
		<package name="com.ge.predix.booking.mapper" />
	</typeAliases>
	<mappers>
		<mapper resource="com/stash/mapper/AllStockModelMapper.xml" />
		<mapper resource="com/stash/mapper/AttendModelMapper.xml" />
		<mapper resource="com/stash/mapper/BkrecordModelMapper.xml" />
		<mapper resource="com/stash/mapper/BkTransModelMapper.xml" />
		<mapper resource="com/stash/mapper/CandRateModelMapper.xml" />
		<mapper resource="com/stash/mapper/CandTransModelMapper.xml" />
		<mapper resource="com/stash/mapper/CategoryModelMapper.xml" />
		<mapper resource="com/stash/mapper/CollectModelMapper.xml" />
		<mapper resource="com/stash/mapper/CrecordModelMapper.xml" />
		<mapper resource="com/stash/mapper/CTransModelMapper.xml" />
		<mapper resource="com/stash/mapper/DailyModelMapper.xml" />
		<mapper resource="com/stash/mapper/DailyRateModelMapper.xml" />
		<mapper resource="com/stash/mapper/DirectorModelMapper.xml" />
		<mapper resource="com/stash/mapper/HistoryModelMapper.xml" />
		<mapper resource="com/stash/mapper/HolderModelMapper.xml" />
		<mapper resource="com/stash/mapper/IndexrecordModelMapper.xml" />
		<mapper resource="com/stash/mapper/InspectModelMapper.xml" />
		<mapper resource="com/stash/mapper/MessageModelMapper.xml" />
		<mapper resource="com/stash/mapper/MincolumnModelMapper.xml" />
		<mapper resource="com/stash/mapper/PayResultModelMapper.xml" />
		<mapper resource="com/stash/mapper/SignModelMapper.xml" />
		<mapper resource="com/stash/mapper/StockactionModelMapper.xml" />
		<mapper resource="com/stash/mapper/StockdailyModelMapper.xml" />
		<mapper resource="com/stash/mapper/StockrecordModelMapper.xml" />
		<mapper resource="com/stash/mapper/Ting20ModelMapper.xml" />
		<mapper resource="com/stash/mapper/VersionModelMapper.xml" />
		<mapper resource="com/stash/mapper/WeakModelMapper.xml" />
	</mappers>
</configuration>
