<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<setting name="logPrefix" value="dao." />
	</settings>
	<typeAliases>
		<package name="com.ge.predix.booking.mapper" />
	</typeAliases>
	<mappers>
		<!-- 
		<mapper resource="com/ge/predix/booking/mapper/RoleModelMapper.xml" />
		<mapper resource="com/ge/predix/booking/mapper/UserModelMapper.xml" />
		<mapper resource="com/ge/predix/booking/mapper/BookingModelMapper.xml" />
		<mapper resource="com/ge/predix/booking/mapper/LogModelMapper.xml" />
		<mapper resource="com/ge/predix/booking/mapper/RegionModelMapper.xml" />
		<mapper resource="com/ge/predix/booking/mapper/RoleMapper.xml" />
		<mapper resource="com/ge/predix/booking/mapper/RegionMapper.xml" />
		<mapper resource="com/ge/predix/booking/mapper/SettingModelMapper.xml" />
		<mapper resource="com/ge/predix/booking/mapper/BookingMapper.xml" />
		<mapper resource="com/ge/predix/booking/mapper/UserMapper.xml" />
		<mapper resource="com/ge/predix/booking/mapper/RelationModelMapper.xml" />
		<mapper resource="com/ge/predix/booking/mapper/RegionMapper.xml" />
		 -->
	</mappers>
</configuration>
